* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1000px;
  margin: auto;
}

header {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-top: 50px;
}

header > div {
  align-items: baseline;
}

h1 {
  display: flex;
  font-size: 70px;
  margin-left: 30px;
  margin-bottom: 50px;
  float: left;
}

.header-text {
  margin-right: 50px;
  margin-top: 40px;
  font-size: larger;
  padding: 30px;
  text-align: right;
}

.loengud {
  margin-top: 0px;
  margin-bottom: 10px;
}

.menu {
  /* grid-area: area2; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: smaller;
  font-weight: bold;
  line-height: 40px;
  position: sticky;
  top: 0px;
}

.sisukast {
  /* grid-area: area3; */
  display: flex;
  padding: 25px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  flex-wrap: wrap;
  display: inline-block;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  float: right;
  max-width: 100%;
  height: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
}

.container {
  display: grid;
  gap: 15px;
  /* grid-template-areas:
    "area1 area1"
    "area2 area3"; */
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr;
}

.container > div {
  width: auto;
  text-align: left;
}

.sisutekst {
  font-size: 40px;
}

footer {
  margin-bottom: 48px;
}

/* .item1 {
  background-image: url("pilt1.jpg");
  height: 200px;
  background-size: cover;
  background-position: bottom;
  color: white;
  text-align: center;
} */
