* {
  margin: 30;
  padding: 30;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* width: 960px;
  margin: auto;*/
}

header {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-top: 50px;
}

header > div {
  align-items: baseline;
}

h1 {
  display: block;
  font-size: 70px;
  margin-left: 30px;
}

/* .header-text {
  display: inline-block;
  flex-wrap: wrap;
  font-size: larger;
  text-align: left;
  /* float: right; */

.loengud {
  margin-top: 20px;
  margin-bottom: 10px;
}

.menu {
  /* grid-area: area2; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: smaller;
  font-weight: bold;
  line-height: 40px;
  position: sticky;
  top: 0px;
}

.sisukast {
  display: inline-block;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-right: 80px;
  margin-block-end: 500px;
  margin-inline-start: 25px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 10px;
  padding-top: 0px;
}

figure {
  float: right;
  max-width: 100%;
  height: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
  display: block;
}

.container {
  display: grid;
  gap: 15px;
  /* grid-template-areas:
    "area1 area1"
    "area2 area3"; */
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr;
}

.container > div {
  width: auto;
  text-align: left;
}

.sisutekst {
  font-size: 48px;
  margin-bottom: 50px;
  line-height: 40px;
}

footer {
  margin-bottom: 48px;
}

.sisukast {
  display: inline-block;
  position: relative;
  width: 20%;
  border-radius: 5px;
  float: left;
  padding: 10px;
  margin-left: 1%;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5em;
}

@media (min-width: 2500px) {
  .sisukast {
    display: block;
    margin-right: 1000px;
  }
}
