* {
  margin: 30;
  padding: 30;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  /* width: 960px;
  margin: auto;*/
}

header {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: inline-block;
  height: 200px;
}

h1 {
  display: block;
  font-size: 70px;
  margin-left: 30px;
  margin-top: 50px;
}

.loengud {
  margin-top: 20px;
  margin-bottom: 10px;
}

.menu {
  /* grid-area: area2; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: smaller;
  font-weight: bold;
  line-height: 40px;
  position: sticky;
  top: 0px;
}

.sisukast {
  display: inline-block;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-right: 80px;
  margin-block-end: 100px;
  margin-inline-start: 25px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 10px;
  padding-top: 0px;
}

figure {
  float: right;
  max-width: 100%;
  height: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
  display: block;
}

.container {
  display: grid;
  gap: 15px;
  /* grid-template-areas:
    "area1 area1"
    "area2 area3"; */
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr;
}

.sisutekst {
  font-size: 48px;
  margin-bottom: 50px;
  line-height: 40px;
}

footer {
  margin-bottom: 48px;
}

body {
  background: #fff;
  font-family: "PT Sans", sans-serif;
}
h2 {
  padding-top: 1.5rem;
}
a {
  color: #333;
}
a:hover {
  color: #473af7;
  text-decoration: none;
}
.card {
  border: 0.4rem solid #f8f9fa;
  top: 10%;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.form-control {
  background-color: #f8f9fa;
  margin-bottom: 1.3rem;
  margin: 30px;
  align-items: center;
  line-height: 20px;
}

.form-control:focus {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #473af7;
  outline: 0;
  box-shadow: none;
  margin-bottom: 1.3rem;
  margin: 30px;
  align-items: center;
}

.form-group {
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 0%;
}

input {
  margin-bottom: 10px;
}

.btn {
  padding: 0.6rem 1.2rem;
  background: #473af7;
  border: 2px solid #473af7;
}
.btn-primary:hover {
  background-color: #7be4e7;
  border-color: #7be4e7;
  transition: 0.3s;
}

.btn-primary {
  margin-bottom: 15px;
  margin-right: 50px;
  margin-top: 20px;
}

.btn-secondary {
  background-color: gray;
  border-color: gray;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.btn-otsi,
.navbar-toggler {
  margin-right: 0px;
  color: #ffffff;
}

.btn-otsi:hover {
  background-color: #7be4e7;
  border-color: #7be4e7;
  transition: 0.3s;
  color: #ffffff;
}

.modal-title {
  margin: 25px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-header {
  display: flex;
  flex-wrap: wrap;
  border: 0;
  font-size: 20px;
}

.modal-footer {
  border: 0;
}

.modal-content {
  background-image: url("taust10.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 450px;
  margin: auto;
}

.modal-info {
  display: inline-block;
  margin: 30px;
  margin-bottom: 0;
  font-size: small;
  font-weight: bold;
}

header {
  /* Taustapilt headerisse*/
  background-image: url("taust.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  height: 400px;
  background-image: url("taust.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  margin-bottom: 0px;
}

@media (max-width: 1000px) {
  .navbar-collapse {
    background-color: white;
    padding: 20px;
  }
}
