.item1 {
  grid-area: area1;
  background-color: aliceblue;
}

.item2 {
  grid-area: area2;
  background-color: antiquewhite;
}

.item3 {
  grid-area: area3;
  background-color: aqua;
  height: 200px;
}

.item4 {
  grid-area: area4;
  background-color: aquamarine;
}

.item5 {
  grid-area: area5;
  background-color: azure;
}

.item6 {
  grid-area: area6;
  background-color: beige;
}

.item7 {
  grid-area: area7;
  background-color: bisque;
}

.item8 {
  grid-area: area8;
  background-color: blanchedalmond;
}

.item9 {
  grid-area: area9;
  background-color: blue;
}

.item10 {
  grid-area: area10;
  background-color: blueviolet;
}

.item11 {
  grid-area: area11;
  background-color: brown;
}

.item12 {
  grid-area: area12;
  background-color: cadetblue;
}

.container {
  display: grid;
  background-color: aquamarine;
  /*grid-template-areas: 
  '1 1 1 1 1'
  '2 3 3 6 7'
  '2 4 5 6 8'
  '2 4 5 6 9'
  '2 4 5 6 10'
  '2 4 5 6 11'
  '12 12 12 12 12';*/
  grid-template-areas:
    "area1 area1 area1 area1 area1"
    "area2 area3 area3 area6 area7"
    "area2 area4 area5 area6 area8"
    "area2 area4 area5 area6 area9"
    "area2 area4 area5 area6 area10"
    "area2 area4 area5 area6 area11"
    "area12 area12 area12 area12 area12";
}

.container > div {
  width: auto;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
}
