.tile {
  font-size: 55px;
  line-height: 70px;
  text-align: center;
  height: 70px;
}

.tile:hover {
  cursor: pointer;
}

.tile:nth-child(1),
.tile:nth-child(2) {
  border-right: solid;
  border-color: black;
}

.row:nth-child(1),
.row:nth-child(2) {
  border-bottom: solid;
  border-color: black;
}

div.winner {
  margin-top: 50px;
  font-size: 60px;
  font-weight: bold;
  display: none;
}

.tileX {
  color: darkblue;
}

.tileO {
  color: brown;
}

.gameOver {
  background-color: green;
}

/* Värvid */
/*
  Kui winner siis roheline
  Igale elemendile oma värv
*/
